<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>

    <configSections>
      <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
            <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
      <sectionGroup name="SSO.Client.SettingsGroup">
        <section name="SSO.Client.Settings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>
    </configSections>
    <SSO.Client.SettingsGroup>
      <SSO.Client.Settings>
        <add key="proxy_x_forwarded_for" value="" />
        <add key="proxy_client_ip" value="" />
        <add key="cookie_name" value="sso_test" />
        <add key="cookie_path" value="/sso_client/" />
        <add key="cookie_timeout" value="604800" />
        <add key="cookie_exit_timeout" value="0" />
        <add key="cookie_ssl_only" value="0" />
        <add key="cookie_reset_ipaddr_changes" value="0" />
        <add key="cookie_check" value="300" />
        <add key="server_endpoint_url" value="http://localhost/barebones/sso/server/endpoint.php" />
        <add key="server_apikey" value="W95MFaQ0qXoYysOCTtSfNDRabSPvwHrQ-6" />
        <add key="server_secretkey" value="aes256:a378a698439c59004c4c0a5a553b4abebd291e142406ae388361e325ef94f195:0002224ffdecbc50825f4b5243b3d1a45b0a84942275b1eb777204acadad1ef8:4465b9db50ea4565aef884a0164a166f092c37c9652fd31f6cc15ee69b99bb4a:075bc9b27b62de9f0327006aec0d4e344bec19257b0750e3d717bbe1a2b95c18" />
        <add key="server_session_timeout" value="604800" />
        <add key="accept_site_admin" value="1" />
        <add key="check_site_admin" value="0" />
        <add key="rand_seed" value="a6a8ca76e89e07c0f3e09cce2b24b26849c934c32836ddb9197b8bb1d7ef829c9a5877214d74c214227b0d83c0735c33b4717cd2a75b49c9724887af34190195fd7d34f496587b1045abfae046507160a141d7a7d5f7465e5e8691ef32b466b9acccbfa4f14d78039a828106fd7a8d605b0a15f58cdc8f6fd6bb4ca67f20be07" />
        <add key="rand_seed2" value="f0442ad65a43614142f96db83a12c818d30f2273d404930f1b1f53e839bf175174044b7a17d7cd53c070a904f1e0edb44d654858b19a9683a2e41b42d5817374c29f32a608d4e39d45fb759ef29098d0c90ecb444c17669204722a3205c2d124156b0f39c1fea7f0ce44f95c7e235b61c70023a0df3ce3fd8309455003e798cf" />
        <add key="rand_seed3" value="c1c7367eea314bb05bf4cf4cbe91261213a10f5088331222687d5dea4c4296e776a313fc8a72c49a27350646c3318e9e512e81dba5458dea5f04c79da366a804094a7120ce7e7bd4862ff8dc31fce0e696c80e3e44e5ca8b8d2ade7ce7824cf2e8697a9c1c03cfb7bfe35fab1a8008af11a2107549e5e26da6250e4d792b6300" />
        <add key="rand_seed4" value="a8772dc5f2a864ee3894c73cb6a63aa43097575761d7ac4a1230ee41f324351005de034e3f3638e77440a34b7a4f0f469b2abaf055984e72662c0b50026f667422f321b55acc32739259bcef4d0def75381e513ec2fb16e370ab68ea3c4fb1fd0d9bd37f1555725e19151ce13926892ae9bfe376cc7de680b91ba26372006799" />
        <add key="rand_seed5" value="bb1fd03bcae49fec5c2d6093afdb22a481e9e8a829f0d98529dfbb72c0973fb404d70b15a4afa5e5cc4ae4b5d20bde082f1cd8a8efef7900c7f9e93b105080a5de1649c8dc13e55bdd5bbb396145c9a8d257e351a3c8a1c8e5260a9fae098da5af3524b9b3b4b0a0c137c74aecf38a404798cca7ae5287abb6a20780ea14add3" />
        <add key="rand_seed6" value="a9bd002df77ceb0e6d7403dd8fa019a5b3a45d8b7fafb19f9d1b2207019861c8ce76e351083b7601f3fab3708c65a6c411289c51837e870805b33d168ed18ab4556f161540b6737c3278b3d108d561b96a7d0e567787f65c90bc7508bf0a3f0b77f14a7612f85fa079b8ddb1df222899df802691f2a4ae56f8c03fd721dc192a" />
        <add key="rand_seed7" value="02a0537d5db936f2b24548067805beaefa5a6551d6ce726cb5623ccd39a3adaed1ff5cd75da29506d88cc078bf22608facaa773231b9438d21c623f6218dd24eec0cef455c01805898687971f027e2bf46968592bbb32f193bfdbe3c45fc7d4eb0d2896bf3e09999dfecf89382839e0af69f68833eda8f85f4714537550a9bde" />
        <add key="rand_seed8" value="b060a12f0400c8b3128ade157965de0f96b6ef53650cfdc2ecbc48afa7f3b8b3ced494fce5e0ebd1b53bddb9f00b0b72a28b82c78a79a138c813fa9f4d7eb8bff4270fa8c93f3fe0231a0c5d77bd6ee45866cd34da06fb15416e37f05dd83fcc821dea5341cc6d1853bd6f8820e61657e83ae180202bcac18abd53cd6b2cf1f2" />
        <add key="rand_seed9" value="bac73ba34158a8b4838ea64120a1affda2b6b6d51100acf6154c2c995c43fd25f202e9d60fd30f1f3070b145f97d0ee64222880f89148177c857afab830c4b2450a699d9ad09a5d24262f4c6b3a43b65ec8bff7848d545cd1a8dd3ddf13abca5a938c4026611eaa603a4a9f6f4a552224d11f6a1c26332f607dc02f5cfeb1d18" />
        <add key="rand_seed10" value="52031fcfce5c2001c1238c299972019bb6eb4701c6e16a6b2f3c55209a5499a619b8d3e3460e36f0f763918416149e9d448ecfbdfe97ed2dfc816fa2e894900dab88b0d34c7fa393b25c0ea060c1253b28d34b9501e21e023849211dab32f0f51d55c5e247325406e538299563b1c9ad37c6a81c44fd0c498ad4e0f4789c54d8" />
        <add key="rand_seed11" value="9525377018bbf0fe6d0e2181d1d1dc0ad95572aba39ec7b46b171d5e41bdaa4f0a831e197f3eeabb5b82071edb4213ad24cb9240b52a5705857ce7ec170454c49b12c6e8cbf0f2b4cd54a0af5c2fb7d42bf4718646c04a40eb3f37bd8375b951b2aabeac0a92dd02ee3040b9d6e64ab4e6b636e4ef3daf689ac1f8d8ee952647" />
        <add key="rand_seed12" value="8a0a56d15b532cbc3e2a7fe200e9e2ae6d182e0f0fa8314eb2430e5222b39bf3c2d950c141c4f3ed55d176cc51cf40d176e599625a8a199b3c449dbde947b04f4a763fb0b8b9c948199d92c05a06d66d5b00eaffb91a6f2499f9ad7cf4cc9e9d2436de6ddc355cab656acce0ac03430a2bc34b5b7ec66d1a3c9a5b13c9eecbbd" />
        <add key="rand_seed13" value="b6ddf00a01ce162d909d968fa80426c002c9ec2d1d2e478ad0f74ee528da8b3f4b07f2a45ff01b7c0b6c953cd509b074d3a0a37d7c42957087c4f86c3b89c35705a441afe729cb066d695d4aec6b8ac9b6842530ec063e7f6de74bc46a823e75379a8d8e1d8165bb298baa76e0eaa46b0dab5e13135d424cc6d4921741c914bd" />
        <add key="rand_seed14" value="5770348929bfe79a40c3902dd79dd1a14d4d6a5a01fe1319699a7c59789c8844b59d6afbe55fdb947e906f181893cd8b890dfed40b065f7e4f9cca8057bc85bbc2910a17301135eb5d6bd18d1bae80a6ddcddbba2990d7e424c8a6dd27155b1dbc3a9f09ad31a91bc1bd12fc6f7357d196c14e0d1ba69bf720235e4e20f11394" />
        <add key="rand_seed15" value="5801b56976fc2713501e29232e9fef04031e99c087b6ef325e3b6e4367838a4d93d7f7418b58fc272d0dd86280ef75556f145199af6824d96b127e79be80b898a1d62dc5a292aae59e67ee8791934c246709aa26d01da33cd7eaaca6a979e8ab034a4e6303e744c0306f60191d6898c87bf3f7a879dcd7f41e5a47c2558dde6b" />
        <add key="rand_seed16" value="dccc8e717b26593741634dc7e4b2f4ded09545bbdbe1e8662100ca3c72e346eeb374139f693778b5eafe892da0acbf0d8410b9f55c8e1b2145a821c3d096a64fbb5988eea6b9e384fffab267082bedf5507c0f986fb290449f0eb81d6923ed9f6d2f8f4c5558c85b63935ac052f63597c2a87cf111c67670d31ae545a7136ac7" />
      </SSO.Client.Settings>
    </SSO.Client.SettingsGroup>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">
          <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          </assemblies>
        </compilation>
        <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
      <pages>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>
      </pages>

      <httpHandlers>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </httpModules>
    </system.web>
    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
                  type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="OptionInfer" value="true"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <remove name="ScriptModule" />
        <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </modules>
      <handlers>
        <remove name="WebServiceHandlerFactory-Integrated"/>
        <remove name="ScriptHandlerFactory" />
        <remove name="ScriptHandlerFactoryAppServices" />
        <remove name="ScriptResource" />
        <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </handlers>
    </system.webServer>
    <runtime>
      <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

</configuration>
